form {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  margin-left: 50px;
}

label {
  display: flex;
  flex-direction: column;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

input {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #2e2f42;
}

textarea {
  width: 360px;
  height: 120px;
  padding: 15px;
  border: 1px solid #2e2f42;
  margin-bottom: 20px;
  resize: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}
